/* intro.css */
/* intro.html 전용 스타일 */

.splash-screen {
    background-image: url('../images/intro_image.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.splash-content {
    color: white;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.splash-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);
}

.splash-content p {
    font-size: 1.75rem; 
    margin-top: 20px; 
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    animation: blink 1.5s infinite;
}